

<div id="managerContainer" >
	<table id="managerContainerTable" class="table" data-nb_col="{{nbCol}}" data-nb_row="{{nbRow}}"  >
		<thead>
			<tr>
				<th class="hiddenTd nosort"></th>
				
				<th ng-repeat="task in tasks track by task.id" class="move-horizontal-accept" wait-on-col-load="">
						<span class="move-horizontal glyphicon glyphicon-resize-horizontal"></span>
					{{task.name}}
				</th>

				<th class="nosort">
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items track by item.id" wait-on-row-load="">
				<th><span class="move-vertical glyphicon glyphicon-resize-vertical"></span>{{item.name}}</th>



				<td ng-repeat="task in tasks track by task.id" class="{{actions[task.id][item.id].stateClass}}">
				{{actions[task.id][item.id].comment}}
				</td>



				<td class="hiddenTd"></td>
			</tr>
			<tr>
				<th><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></th>

				<td ng-repeat="task in tasks track by task.id" class="hiddenTd"></td>
				
				<td class="hiddenTd"></td>
			</tr>
		</tbody>
	</table>
</div>


