
<div class="card card-container">
    <span class="cursorPointer colorRed glyphicon glyphicon-trash" ng-click="removeItem()"></span>
    <br />
    <form name="itemForm" class="form-signin" ng-submit="updateItem(itemForm)" novalidate>

        <label>Morceau</label>
        <input name="item_name" id="item_name" type="text" ng-maxlength="100" ng-minlength="1" placeholder="Nom de la tâche" class="form-control" autofocus="" required="" ng-model="item_name"/>
        <div class="error-messages" ng-messages="itemForm.item_name.$error">
            <div ng-messages-include="views/form_error_messages.html"></div>
        </div>


        <button ng-show="original_item_name != item_name" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Mettre à jour</button>

    </form>



<button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="go('/')">Retour</button>
</div>

