/*
#action {
	display: inline-block;
	width: 100%;
}
*/
#actionContainer {
	display: inline-block;
	width: 100%;
    padding: 40px 40px;

   /* background-color: #F7F7F7;*/

    padding: 20px 25px 30px;
    margin: 0 auto;
    
    

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	*/





/*
	background-color: #464c53;
	-moz-box-shadow: inset 0px 0px 20px 10px #353b41;
	-webkit-box-shadow: inset 0px 0px 20px 10px #353b41;
	-o-box-shadow: inset 0px 0px 20px 10px #353b41;
	box-shadow: inset 0px 0px 20px 10px #353b41;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#353b41, Direction=NaN, Strength=20);
*/

	/*
	background-color: #32363a;
    background-color: #464c53;
	*/

/*
	background-color: #32363a;
    border: black thin solid;

    -moz-box-shadow: inset 0px 0px 20px 10px #464c53;
	-webkit-box-shadow: inset 0px 0px 20px 10px #464c53;
	-o-box-shadow: inset 0px 0px 20px 10px #464c53;
	box-shadow: inset 0px 0px 20px 10px #464c53;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#464c53, Direction=NaN, Strength=20);
*/

border: black thin solid;
background: rgba(70,76,83,1);
background: -moz-linear-gradient(top, rgba(70,76,83,1) 0%, rgba(50,54,58,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,76,83,1)), color-stop(100%, rgba(50,54,58,1)));
background: -webkit-linear-gradient(top, rgba(70,76,83,1) 0%, rgba(50,54,58,1) 100%);
background: -o-linear-gradient(top, rgba(70,76,83,1) 0%, rgba(50,54,58,1) 100%);
background: -ms-linear-gradient(top, rgba(70,76,83,1) 0%, rgba(50,54,58,1) 100%);
background: linear-gradient(to bottom, rgba(70,76,83,1) 0%, rgba(50,54,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464c53', endColorstr='#32363a', GradientType=0 );


}


#actionContainer .maj_action,
#actionContainer .historique_action {

	display:block;

	padding: 15px;

	float:left;

	width: 50%;
}

#actionContainer .maj_action {

	/*
	border-right: #464c52 3px double;
	*/
	border-right: #b4bac0 3px double;
	text-align: right;
}

#actionContainer .historique_action {

	/*border: black thin solid;*/

	height: 320px;

	overflow-y: auto;

}