/*bloc qui apparaît si ie 8 et inférieur*/
.browsehappy {
  display: block;
  margin: auto;
  width: 100%;
  background-color : #dd2222;
  color: black;
  padding: 5px;
  text-align: center;
}

body {
  padding: 10px;
  margin:auto;
}

