#managerContainer {
	display: block;
	width: 100%;
}

/**********************************
 Gestion du tableau et de ses colonnes 
 **********************************/

#managerContainer table{

	width:100%;
	table-layout:fixed;

	background-color: transparent;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#managerContainer table th, 
#managerContainer table td {	
	border: 1px solid #1c1e22;
	background-color: #464c52;
}
#managerContainer table th {
	text-align: center;
	vertical-align: middle;
	line-height: 28px;
}
#managerContainer table td {
	text-align: left;
	line-height:12px;
	font-size:12px;
}
#managerContainer table th:hover, 
#managerContainer table td:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
}




/**********************************
 Gestion des classes ayant différents effets
 **********************************/

 /*
 * hiddenTd pour masquer la toute première cellule ainsi que 
 * les cellules correspondantes à des ajouts de lignes ou colonnes
 */
#managerContainer .hiddenTd{
	background-color: transparent!important;
	border:none!important;
}
#managerContainer .hiddenTd:hover{
	cursor: default!important;
}


 /*
 * move-vertical et move-horizontal sont utilisés pour le style
 * des puces handler des événements drag drop des lignes et colonnes
 */
#managerContainer table th .move-vertical, 
#managerContainer table th .move-horizontal {
	display:block;
	float:left;

	width: 26px;
	height: 26px;
	font-size: 14px;
	line-height: 26px;

	border-radius: 50%;

	text-align: center;

	background: rgba(70,76,82,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(70,76,82,1) 0%, rgba(54,59,64,1) 39%, rgba(97,103,110,1) 51%, rgba(74,79,84,1) 62%, rgba(70,76,82,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(70,76,82,1)), color-stop(39%, rgba(54,59,64,1)), color-stop(51%, rgba(97,103,110,1)), color-stop(62%, rgba(74,79,84,1)), color-stop(100%, rgba(70,76,82,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(70,76,82,1) 0%, rgba(54,59,64,1) 39%, rgba(97,103,110,1) 51%, rgba(74,79,84,1) 62%, rgba(70,76,82,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(70,76,82,1) 0%, rgba(54,59,64,1) 39%, rgba(97,103,110,1) 51%, rgba(74,79,84,1) 62%, rgba(70,76,82,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(70,76,82,1) 0%, rgba(54,59,64,1) 39%, rgba(97,103,110,1) 51%, rgba(74,79,84,1) 62%, rgba(70,76,82,1) 100%);
	background: radial-gradient(ellipse at center, rgba(70,76,82,1) 0%, rgba(54,59,64,1) 39%, rgba(97,103,110,1) 51%, rgba(74,79,84,1) 62%, rgba(70,76,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464c52', endColorstr='#464c52', GradientType=1 );
}
#managerContainer table th .move-vertical:hover {
	cursor: ns-resize!important;
}
#managerContainer table th .move-horizontal:hover {
	cursor: ew-resize!important;
}


 /*
 * state-X où X est l'id d'un état, sont utilisés pour le style
 * des cellules en fonction de leur état, commencé,
 * terminé etc...
 */
#managerContainer table td.undefined {
	background-color: #c8c8c8;
	color:black;

	-moz-box-shadow: inset 0px 0px 20px 10px #a6a6a6;
-webkit-box-shadow: inset 0px 0px 20px 10px #a6a6a6;
-o-box-shadow: inset 0px 0px 20px 10px #a6a6a6;
box-shadow: inset 0px 0px 20px 10px #a6a6a6;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#a6a6a6, Direction=NaN, Strength=20);

}

#managerContainer table td.tostart {
	background-color: #cc5555;
	color:white;



/*
-moz-box-shadow: inset 0px 0px 25px 15px #aa3333;
-webkit-box-shadow: inset 0px 0px 25px 15px #aa3333;
-o-box-shadow: inset 0px 0px 25px 15px #aa3333;
box-shadow: inset 0px 0px 25px 15px #aa3333;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#aa3333, Direction=NaN, Strength=25);
*/

/*
Ombres : couleur -2 pour chaque lettre hexa, 20 strength (blur) et 10 spread 
*/
-moz-box-shadow: inset 0px 0px 20px 10px #aa3333;
-webkit-box-shadow: inset 0px 0px 20px 10px #aa3333;
-o-box-shadow: inset 0px 0px 20px 10px #aa3333;
box-shadow: inset 0px 0px 20px 10px #aa3333;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#aa3333, Direction=NaN, Strength=20);
}

#managerContainer table td.started {
	background-color: #dd9955;
	color:white;

-moz-box-shadow: inset 0px 0px 20px 10px #cc7733;
-webkit-box-shadow: inset 0px 0px 20px 10px #cc7733;
-o-box-shadow: inset 0px 0px 20px 10px #cc7733;
box-shadow: inset 0px 0px 20px 10px #cc7733;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cc7733, Direction=NaN, Strength=20);
}

#managerContainer table td.finished {
	background-color: #55bb55;
	color:white;

/*
-moz-box-shadow: inset 0px 0px 25px 15px #339933;
-webkit-box-shadow: inset 0px 0px 25px 15px #339933;
-o-box-shadow: inset 0px 0px 25px 15px #339933;
box-shadow: inset 0px 0px 25px 15px #339933;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#339933, Direction=NaN, Strength=25);
*/

-moz-box-shadow: inset 0px 0px 20px 10px #339933;
-webkit-box-shadow: inset 0px 0px 20px 10px #339933;
-o-box-shadow: inset 0px 0px 20px 10px #339933;
box-shadow: inset 0px 0px 20px 10px #339933;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#339933, Direction=NaN, Strength=20);
}