#managerContainer {
	display: block;
	width: 100%;
}

#managerContainer .table{
	/*background-color: #464c52;*/

	width:100%;
	table-layout:fixed;




	background-color: transparent;



	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#managerContainer .table th, 
#managerContainer .table td {	
	border: 1px solid #1c1e22;
	background-color: #464c52;
}
#managerContainer .table th {
	text-align: center;
	vertical-align: middle;
}
#managerContainer .table td {
	text-align: left;
	/*min-height: 50px;*/
	line-height:12px;
	font-size:12px;
}

#managerContainer .table th:hover, 
#managerContainer .table td:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
}



#managerContainer .hiddenTd{
	/*	
	background-color:#272b30!important;
	*/
	background-color: transparent!important;
	border:#272b30!important;
}
#managerContainer .hiddenTd:hover{
	cursor: default!important;
}

