/*
Sites utiles: 

http://tympanus.net/Development/PageTransitions/
http://tympanus.net/codrops/2013/05/07/a-collection-of-page-transitions/
https://scotch.io/tutorials/animating-angularjs-apps-ngview
*/

/* QUELQUES ANIMATES EN PLUS
============================================================================= */

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideInDown {
    from    { transform:translateY(-100%); }
    to      { transform: translateY(0); }
}


@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes scaleUpCustom {
  from { opacity: 0; -webkit-transform: scale(.4); }
}
@keyframes scaleUpCustom {
  from { opacity: 0; -webkit-transform: scale(.4); transform: scale(.4); }
}

@keyframes slideFromLeftCustom {
  from      { transform: translateX(-50%); }
    to      { transform: translateX(0); }
}


/* ANIMATIONS APPLIQUEES AUX PAGES PERSONNALISEES
============================================================================= */

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* action ---------------------- */
.page-action.ng-enter      { animation:scaleUp 0.3s both ease; }
/*.page-action.ng-leave      { animation:slideOutLeft 0.5s both ease-in; }*/

/* authentication ---------------------- */
.page-authentication.ng-enter      { animation:scaleUp 0.3s both ease; }
/*.page-authentication.ng-leave      { animation: rotateOutNewspaper .5s both ease-in; }*/

/* item ---------------------- */
.page-item.ng-enter      { animation:slideFromLeftCustom 0.3s both ease; }
/*.page-item.ng-leave      { animation: rotateOutNewspaper .5s both ease-in; }*/

/* manager -------------------------- */
.page-manager.ng-enter         { animation:scaleUp 0.6s both ease-in; }
/*.page-manager.ng-leave         { animation:scaleDown 0.5s both ease-in; }*/

/* reorder -------------------------- */
.page-reorder.ng-enter         { animation:scaleUp 0.4s both ease-in; }
/*.page-reorder.ng-leave         { animation:scaleDown 0.5s both ease-in; }*/


/* task ------------------------ */
.page-task.ng-enter        { animation:moveFromTop 0.3s both ease; }
/*.page-task.ng-leave        { animation:rotateFall 1.5s both ease-in; }*/

/*
A ajouter avec differentes valeurs dans certains leave si l'on souhaite : 
transform-origin: 50% 50%; 
*/

/*
Récapitulatif des animations existantes : 

@keyframes moveToLeft
@keyframes moveFromLeft
@keyframes moveToRight 
@keyframes moveFromRight
@keyframes moveToTop
@keyframes moveFromTop
@keyframes moveToBottom
@keyframes moveFromBottom
@keyframes fade
@keyframes moveToLeftFade
@keyframes moveFromLeftFade
@keyframes moveToRightFade
@keyframes moveFromRightFade
@keyframes moveToTopFade
@keyframes moveFromTopFade
@keyframes moveToBottomFade
@keyframes moveFromBottomFade
@keyframes scaleDown
@keyframes scaleUp
@keyframes scaleUpDown
@keyframes scaleDownUp
@keyframes scaleDownCenter
@keyframes scaleUpCenter
@keyframes rotateRightSideFirst
@keyframes rotateLeftSideFirst
@keyframes rotateTopSideFirst
@keyframes rotateBottomSideFirst
@keyframes flipOutRight
@keyframes flipInLeft
@keyframes flipOutLeft
@keyframes flipInRight
@keyframes flipOutTop
@keyframes flipInBottom
@keyframes flipOutBottom
@keyframes flipInTop
@keyframes rotateFall
@keyframes rotateOutNewspaper
@keyframes rotateInNewspaper
@keyframes rotatePushLeft
@keyframes rotatePushRight
@keyframes rotatePushTop
@keyframes rotatePushBottom
@keyframes rotatePullRight
@keyframes rotatePullLeft
@keyframes rotatePullTop
@keyframes rotatePullBottom
@keyframes rotateFoldRight
@keyframes rotateFoldLeft
@keyframes rotateFoldTop
@keyframes rotateFoldBottom
@keyframes rotateUnfoldLeft
@keyframes rotateUnfoldRight
@keyframes rotateUnfoldTop
@keyframes rotateUnfoldBottom
@keyframes rotateRoomLeftOut
@keyframes rotateRoomLeftIn
@keyframes rotateRoomRightOut
@keyframes rotateRoomRightIn
@keyframes rotateRoomTopOut
@keyframes rotateRoomTopIn
@keyframes rotateRoomBottomOut
@keyframes rotateRoomBottomIn
@keyframes rotateCubeLeftOut
@keyframes rotateCubeLeftIn
@keyframes rotateCubeRightOut
@keyframes rotateCubeRightIn
@keyframes rotateCubeTopOut
@keyframes rotateCubeTopIn
@keyframes rotateCubeBottomOut
@keyframes rotateCubeBottomIn
@keyframes rotateCarouselLeftOut
@keyframes rotateCarouselLeftIn
@keyframes rotateCarouselRightOut
@keyframes rotateCarouselRightIn
@keyframes rotateCarouselTopOut
@keyframes rotateCarouselTopIn
@keyframes rotateCarouselBottomOut
@keyframes rotateCarouselBottomIn
@keyframes rotateSidesOut
@keyframes rotateSidesIn
@keyframes rotateSlideOut
@keyframes rotateSlideIn


*/
