
<div class="card card-container">
    <span class="cursorPointer colorRed glyphicon glyphicon-trash" ng-click="removeTask()"></span>
    <br />
    <form name="taskForm" class="form-signin" ng-submit="updateTask(taskForm)" novalidate>

        <label>Tâche</label>
        <input name="task_name" id="task_name" type="text" ng-maxlength="100" ng-minlength="2" placeholder="Nom de la tâche" class="form-control" autofocus="" required="" ng-model="task_name"/>
        <div class="error-messages" ng-messages="taskForm.task_name.$error">
            <div ng-messages-include="views/form_error_messages.html"></div>
        </div>


        <button ng-show="original_task_name != task_name" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Mettre à jour</button>

    </form>



<button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="go('/')">Retour</button>
</div>

