<div id="actionContainer">
  <div class="maj_action">

    <form name="actionForm" class="" ng-submit="addAction(actionForm)" novalidate>

        <!--
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        -->

        <label>Etat</label><br />
        <!--
        <select name="state" required="" style="width:100%;">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
        -->

         <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" name="state" id="dropdownstate" style="width:100%;" data-toggle="dropdown">{{state_name?state_name:'Choisir un état'}}
            &nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="width:100%;">
            <li ng-repeat="state in states track by state.id" ng-click="chooseState(state)" class="cursorPointer">
              <a>{{state.name}}</a>
            </li>
          </ul>
        </div>

        <input type="hidden" name="state_id" ng-model="state_id" value="state_id" required="" />
        <div class="error-messages" ng-messages="actionForm.state_id.$error" ng-if="actionForm.$submitted">
            <div  style="color: #dd3333;" ng-message="required">Merci de sélectionner une valeur dans la liste déroulante</div>
        </div>


        <br />
        <label>Message</label><br />
        <textarea ng-model="comment" name="comment" placeholder="Saisir un commentaire..." style="width:100%;height:120px;"></textarea>
        <div class="error-messages" ng-messages="actionForm.comment.$error" ng-if="actionForm.$submitted">
            <div ng-messages-include="views/form_error_messages.html"></div>
        </div>

        <br />
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Mettre à jour</button>

    </form>


  </div>

  <div class="historique_action">
      <div class="history" ng-repeat="action in actions track by action.id">
      <span class="cursorPointer glyphicon glyphicon-trash" ng-click="removeAction(action.id, $index)"></span> <strong>{{action.user_login | capitalize}}</strong> [Etat: {{action.state_name}}] <em>({{action.date_last_modif | date:'dd/MM/yyyy à HH:mm' }})</em> :
      <p>{{action.comment}}</p>
      <hr ng-hide="$index === actions.length-1"/>
      </div>
  </div>
</div>
