
<div class="card card-container" >
    
    <img id="profile-img" class="profile-img-card" src="images/yeoman.png" />

    <!--
    <p id="profile-name" class="profile-name-card"></p>
    -->

    <form name="loginForm" class="form-signin" ng-submit="register()" novalidate>

    	<label>Prénom</label>
        <input name="firstname" type="text" ng-maxlength="30" ng-minlength="2" placeholder="Prénom" class="form-control" autofocus="" />
		<div class="error-messages" ng-messages="loginForm.firstname.$error">
		    <div ng-messages-include="views/form_error_messages.html"></div>
		</div>

		<label>Login</label> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
		<input name="login" type="text" ng-maxlength="30" ng-minlength="2" placeholder="Login ou Email" class="form-control" required />
		<div class="error-messages" ng-messages="loginForm.login.$error">
		    <div ng-messages-include="views/form_error_messages.html"></div>
		</div>

		<label>Mot de passe</label> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
		<input name="password" type="password" placeholder="Mot de passe"  ng-minlength="6" class="form-control" required />
        <div class="error-messages" ng-messages="loginForm.password.$error">
            <div ng-messages-include="views/form_error_messages.html"></div>
        </div>

        <label>Confirmation mot de passe</label> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
		<input name="password_bis" type="password" placeholder="Mot de passe"   ng-minlength="6" class="form-control" required />
		<div class="error-messages" ng-messages="loginForm.password_bis.$error">
		    <div ng-messages-include="views/form_error_messages.html"></div>
		</div>

		<label>Adresse Email valide</label> <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
		<input name="email" type="email" class="form-control" placeholder="Adresse Email" required />
		<div class="error-messages" ng-messages="loginForm.email.$error">
		    <div ng-messages-include="views/form_error_messages.html"></div>
		</div>
		


        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Enregistrer</button>

    </form>

    <button class="btn btn-lg btn-primary btn-block btn-signin"  ng-click="goFromName('login')">S'authentifier</button>
   
</div>